@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;
}

.espaco_cards_ppcs{
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    background-color: blue;
    width: 60vw;
    margin: 1vh;
}

#card_ppc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vh 2vw;
    background-color: ghostwhite;
    color: #2F9E41;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1vh solid #2F9E41;
    border-radius: 10px;
    margin: 1vh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

#card_ppc button{
    align-self: flex-start;
    padding: 0.5vh 1vw;
    margin-top: 1vh;
    background-color: #2F9E41;
    color: white;
    border-style: none;
    font-weight: 500;
    border-radius: 5px;
}

#card_ppc button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.criar_ppc{
    padding: 0.5vw 1vw;
    background-color: #2F9E41;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.criar_ppc:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}