@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.campo_config_periodo{
    display: none;
    
    justify-content: center;
    flex-direction: column;
    padding: 2vh 10vw;
    background-color: ghostwhite;
    color: #2F9E41;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1vh solid #2F9E41;
    border-radius: 10px;
    margin: 1vh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.campo_config_periodo div[class^="periodo_"]{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.campo_config_periodo div[class^="periodo_"] label{
    font-size: 25px;
    font-weight: 600;
    margin-top: 1vh;
}

.campo_config_periodo div[class^="periodo_"] select{
    width: 25vw;
    margin-bottom: 1vh;
    background-color: transparent;
    border: #2F9E41 solid 1px;
    border-radius: 2.5px;
}

button{
    align-self: flex-start;
    padding: 0.5vh 1vw;
    background-color: #2F9E41;
    color: white;
    border-style: none;
    font-weight: 700;
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#botao_adicionar_disciplina{
    align-self: flex-start;
    padding: 0.25vh 0.5vw;
    background-color: #2F9E41;
    color: white;
    border-style: none;
    font-size: 10px;
    font-weight: 500;
    border-radius: 5px;
}

.botoes{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.botoes button{
    font-size: 20px;
    font-weight: 700;
}