@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.campo_config_curso{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    padding: 1vw 10vw;
    background-color: ghostwhite;
    color: #2F9E41;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1vh solid #2F9E41;
    border-radius: 10px;
    margin: 1vh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.campo_config_curso select{
    width: 25vw;
    margin-bottom: 2vh;
    background-color: transparent;
    border: #2F9E41 solid 1px;
    border-radius: 2.5px;
}

.campo_config_curso input{
    width: 25vw;
    height: 3vh;
    margin-bottom: 2vh;
    background-color: transparent;
    border: #2F9E41 solid 1px;
    border-radius: 2.5px;
}

button{
    align-self: flex-start;
    padding: 0.5vh 1vw;
    background-color: #2F9E41;
    color: white;
    border-style: none;
    font-weight: 700;
    border-radius: 5px;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}